a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #7386D5;
  color: #fff;
  position: fixed;
  overflow: auto;
  height: 100%;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media screen and (max-width: 700px) {

  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar-header {
    width: 50%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  }

  div.content {margin-left: 0;}

  #sidebar a {
    text-align: center;
    float: none;
  }

}

@media screen and (max-width: 300px) {
  .sidebar-header {
    width: 30%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  }
}

//@media (max-width: 768px) {
//  #sidebar {
//    margin-left: -250px;
//  }
//  #sidebar.active {
//    margin-left: 0;
//  }
//  #content {
//    width: 100%;
//  }
//  #content.active {
//    width: calc(100% - 250px);
//  }
//  #sidebarCollapse span {
//    display: none;
//  }
//}
