// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Dropzone
@import "~dropzone/dist/dropzone.css";

@import 'loader';

//sidebar
@import 'sidebar';

@import 'classement';

html {
  font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.4rem;
  }
}

@font-face {
  font-family: crashlike;
  src: url('../assets/fonts/crash-a-like.ttf');
  border: 1px solid black;
}

body {
  //font-family: 'Sniglet', cursive;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.content {
  margin-left: 200px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2em;
}

#logo {
  display: inline-flex;
  width: 100%;
  height: 150px;
  background-image: url("../assets/images/logoCtrvCrash.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#classement-table td, #classement-table th, #classement-title, .crash-title{
  font-family: crashlike;
  background: -webkit-linear-gradient(#f5ed00, #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo-big {
  display: inline-flex;
  width: 100%;
  height: 150px;
  background-image: url("../assets/images/logoCtrv3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.loader-container {
  display: inline-flex;
  width: 100%;
}

#circle {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  position: unset !important;
  top: unset !important;
  left: unset !important;
  transform: unset !important;
}

#classement-table {
  background-color: rgba(0, 0, 0, 0.5);
}

#classement-title, #classement-title-container {
  font-size: 50px;
  display: inline-flex;
  vertical-align: -webkit-baseline-middle;
  padding-top: 5px;
  background-color: #a9dbe6;
}

#classement-table th, #classement-table td {
  border: none;
  font-size: 30px;
}

#classement-table tr:hover {
  background-color: #ff900d6b;
  cursor: pointer;
}

#classement-table>thead>tr {
  background-color: rgba(52, 144, 220, 0.5);;
}

#classement-table td, #classement-table th, #classement-title, .crash-title{
  font-family: crashlike;
  background: -webkit-linear-gradient(#f5ed00, #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-input-placeholder {
  color: peachpuff;
  font-size: 12px;
}
::-moz-placeholder {
  color: peachpuff;
  font-size: 12px;
}
:-ms-input-placeholder {
  color: peachpuff;
  font-size: 12px;
}
::placeholder {
  color: peachpuff;
  font-size: 12px;
}

.home-logo {
  display: inline-flex;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

#my-dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  .message {
    font-family: "Segoe UI Light", "Arial", serif;
    font-weight: 600;
    color: #0087F7;
    @include font-size(1.5em);
    letter-spacing: 0.05em;
  }
}
a.dz-remove {
  text-decoration: none !important;
  &:hover {
    color: red;
    font-size: 1rem !important;
  }
}

//main {
//  width: 100%;
//}
//
//.wrapper {
//  display: flex;
//  width: 100%;
//  align-items: stretch;
//}
//
//body {
//  font-family: 'Poppins', sans-serif;
//  background: #fafafa;
//}
//.navbar {
//  width: 100%;
//}
//p {
//  font-family: 'Poppins', sans-serif;
//  font-size: 1.1em;
//  font-weight: 300;
//  line-height: 1.7em;
//  color: #999;
//}
//
//a, a:hover, a:focus {
//  color: inherit;
//  text-decoration: none;
//  transition: all 0.3s;
//}
//
//#sidebar {
//  /* don't forget to add all the previously mentioned styles here too */
//  background: #fafafa;
//  border-right: 1px solid #d4d4d4;
//  color: #fff;
//  transition: all 0.3s;
//  color:black;
//}
//#sidebar {
//  min-width: 250px;
//  max-width: 250px;
//  min-height: 100vh;
//}
//
//
//#sidebar .sidebar-header {
//  padding: 20px;
//  background: white;
//}
//
//#sidebar ul.components {
//  padding: 5px 0;
//}
//
//#sidebar ul p {
//  color: #fff;
//  padding: 10px;
//}
//
//#sidebar ul li a {
//  padding: 10px;
//  font-size: 1.1em;
//  display: block;
//}
//#sidebar ul li a:hover {
//  color: #7386D5;
//  background: #fff;
//}
//
//#sidebar ul li.active > a, a[aria-expanded="true"] {
//  color: #fff;
//  background: #6d7fcc;
//}
//ul ul a {
//  font-size: 0.9em !important;
//  padding-left: 30px !important;
//  background: #6d7fcc;
//}
//.profil-name{
//  display: inline-flex;
//  width: 100%;
//  position: relative;
//}
//.profil-picture{
//  display: inline-flex;
//  width: 40%;
//}
//#profil-container{
//  display: inline-flex;
//  width: 100%;
//  height: 50px;
//}
//
//.profil-name>span{
//  display: inline-flex;
//  width: 100%;
//  margin-left: auto;
//  margin-right: auto;
//  justify-content: center;
//  padding-top: 10px;
//  font-size: 18px;
//}
//
//#edit-icon {
//  position: absolute;
//  width: 10%;
//  height: 100%;
//  top: 0px;
//  right: 0px;
//  background-image: url("../assets/images/edit-icon.png");
//  background-size: contain;
//  background-repeat: no-repeat;
//}
//#profil-pic {
//  width: 100%;
//  height: 100%;
//  background-image: url("../assets/images/anonymous.png");
//  background-size: contain;
//  background-repeat: no-repeat;
//}
//#logo {
//  display: inline-flex;
//  width: 100%;
//  height: 150px;
//  background-image: url("../assets/images/logoCtrvCrash.png");
//  background-size: contain;
//  background-repeat: no-repeat;
//}
//#logo-big {
//  display: inline-flex;
//  width: 100%;
//  height: 150px;
//  background-image: url("../assets/images/logoCtrv3.png");
//  background-size: contain;
//  background-repeat: no-repeat;
//}
//.home-logo {
//  display: inline-flex;
//  width: 100%;
//  height: 100px;
//}
//.home-logo>h3 {
//  margin-top: 35px;
//  margin-left: 20px;
//}
//
//#classement-table {
//  border: 8px solid #a9dbe6;
//  background-color: rgba(0, 0, 0, 0.5);
//}
//
//#classement-title, #classement-title-container {
//  font-size: 50px;
//  display: inline-flex;
//  vertical-align: -webkit-baseline-middle;
//  padding-top: 5px;
//  background-color: #a9dbe6;
//}
//
//#classement-table th, #classement-table td {
//  border: none;
//  font-size: 30px;
//}
//
//#classement-table tr:hover {
//  background-color: #ff900d6b;
//  cursor: pointer;
//}
//
//#classement-table>thead>tr {
//  background-color: rgba(52, 144, 220, 0.5);;
//
//}
//
//.container>h1 {
//  margin-top: 100px;
//}
//
//body {
//  background-image: url("../assets/images/checkered-flag.png") !important;
//  background-repeat: no-repeat;
//  background-size: cover;
//}
//
//@font-face {
//  font-family: crashlike;
//  src: url('../assets/fonts/crash-a-like.ttf');
//  border: 1px solid black;
//}
//
//#classement-table td, #classement-table th, #classement-title, .crash-title{
//  font-family: crashlike;
//  background: -webkit-linear-gradient(#f5ed00, #f00);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
//}
//
//
//.loader-container {
//  display: inline-flex;
//  width: 100%;
//}
//
//#circle {
//  display: inline-flex;
//  margin-left: auto;
//  margin-right: auto;
//  position: unset !important;
//  top: unset !important;
//  left: unset !important;
//  transform: unset !important;
//}
