
@media screen and (max-width: 1000px) {

  #classement-title {
    font-size: 35px;
  }

}

@media screen and (max-width: 500px) {

  #classement-title {
    font-size: 25px;
  }

  #classement-table th, #classement-table td {
    border: none;
    font-size: 15px;
  }

}

#classement-table {
  vertical-align:middle;
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid #a9dbe6;
    border-right: 50px solid transparent;
    display: inline-flex;
    vertical-align: -webkit-baseline-middle;
  }


  #triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid #a9dbe6;
    border-left: 50px solid transparent;
    display: inline-flex;
    vertical-align: -webkit-baseline-middle;
  }

  .classement-border {
    display: inline-flex;
    margin-top: 25px;
    border-bottom: 3px solid #969696;
  }

  .crash-title {
    display: inline-flex;
    font-size: 25px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .crash-title-container{
    display: inline-flex;
    width: 100%;
  }
