//@font-face {
//    font-family: crashLike;
//    src: url('../assets/fonts/crash-a-like.ttf');
//  }

body {
    background-image: url('../assets/images/checkered-flag.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

//#login {
//    font-family: crashLike;
//    font-size: 1.5em;
//    position: absolute;
//    top: 25%;
//    left: 50%;
//    transform: translateX(-50%);
//}

.form-check-input {
    position: inherit;
}

#loginCard {
    border-width: 4px !important;
}
