body{background-image:url(/images/checkered-flag.png?c09aa4576217a0b88f439ff99f222ac9);background-size:cover;background-attachment:fixed;background-repeat:no-repeat}.form-check-input{position:inherit}#loginCard{border-width:4px!important}